BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
## ULX3S v2.x.x and v3.0.x

# The clock "usb" and "gpdi" sheet
LOCATE COMP "clk_25mhz" SITE "P6";
IOBUF  PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25mhz" 25 MHZ;

# JTAG and SPI FLASH voltage 3.3V and options to boot from SPI flash
# write to FLASH possible any time from JTAG:
#SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;
# write to FLASH possible from user bitstream:
# SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

## USBSERIAL FTDI-FPGA serial port "usb" sheet
LOCATE COMP "tx" SITE "B9"; # FPGA transmits to ftdi
LOCATE COMP "rx" SITE "A9"; # FPGA receives from ftdi
IOBUF  PORT "tx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "rx" PULLMODE=UP IO_TYPE=LVCMOS33;

## LED indicators "blinkey" and "gpio" sheet
LOCATE COMP "led[7]" SITE "T6";
LOCATE COMP "led[6]" SITE "R5";
LOCATE COMP "led[5]" SITE "R4";
LOCATE COMP "led[4]" SITE "R3";
LOCATE COMP "led[3]" SITE "P7";
LOCATE COMP "led[2]" SITE "R6";
LOCATE COMP "led[1]" SITE "T4";
LOCATE COMP "led[0]" SITE "T3";
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## Pushbuttons "blinkey", "flash", "power", "gpdi" sheet
LOCATE COMP "btn[0]" SITE "P2";  # BTN_PWRn (inverted logic)
LOCATE COMP "btn[1]" SITE "N3";  # FIRE1
LOCATE COMP "btn[2]" SITE "M2";  # FIRE2
LOCATE COMP "btn[3]" SITE "L2"; # UP W1->R18
LOCATE COMP "btn[4]" SITE "G2";  # DOWN
LOCATE COMP "btn[5]" SITE "M1";  # LEFT
LOCATE COMP "btn[6]" SITE "K1"; # RIGHT Y2->H16
IOBUF  PORT "btn[0]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[4]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[5]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[6]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

## DIP switch "blinkey", "gpio" sheet
LOCATE COMP "sw[0]" SITE "R1"; # SW1
LOCATE COMP "sw[1]" SITE "P1"; # SW2
LOCATE COMP "sw[2]" SITE "N1"; # SW3
LOCATE COMP "sw[3]" SITE "T2"; # SW4
IOBUF  PORT "sw[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sw[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sw[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sw[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;





# GPIO (default single-ended) "gpio", "ram", "gpdi" sheet
# Pins enumerated gp[0-27], gn[0-27].
# With differential mode enabled on Lattice,
# gp[] (+) are used, gn[] (-) are ignored from design
# as they handle inverted signal by default.
# To enable differential, rename LVCMOS33->LVCMOS33D
LOCATE COMP "gp[0]"  SITE "R7"; # J1_5+  GP0
LOCATE COMP "gn[0]"  SITE "R8"; # J1_5-  GN0
LOCATE COMP "gp[1]"  SITE "D5"; # J1_7+  GP1
LOCATE COMP "gn[1]"  SITE "C4"; # J1_7-  GN1
LOCATE COMP "gp[2]"  SITE "D4";  # J1_9+  GP2
LOCATE COMP "gn[2]"  SITE "C3"; # J1_9-  GN2
LOCATE COMP "gp[3]"  SITE "E4";  # J1_11+ GP3
LOCATE COMP "gn[3]"  SITE "E3"; # J1_11- GN3
LOCATE COMP "gp[4]"  SITE "F4";  # J1_13+ GP4
LOCATE COMP "gn[4]"  SITE "F3";  # J1_13- GN4
LOCATE COMP "gp[5]"  SITE "G4";  # J1_15+ GP5
LOCATE COMP "gn[5]"  SITE "G3";  # J1_15- GN5
LOCATE COMP "gp[6]"  SITE "K4";  # J1_17+ GP6
LOCATE COMP "gn[6]"  SITE "J4";  # J1_17- GN6
IOBUF PORT  "gp[0]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[0]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[1]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[1]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[2]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[2]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[3]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[3]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[4]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[4]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[5]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[5]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[6]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[6]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gp[7]"  SITE "H3";  # J1_23+ GP7
LOCATE COMP "gn[7]"  SITE "J3";  # J1_23- GN7
LOCATE COMP "gp[8]"  SITE "K3";  # J1_25+ GP8
LOCATE COMP "gn[8]"  SITE "J2";  # J1_25- GN8
LOCATE COMP "gp[9]"  SITE "E1";  # J1_27+ GP9
LOCATE COMP "gn[9]"  SITE "F2";  # J1_27- GN9
LOCATE COMP "gp[10]" SITE "C2";  # J1_29+ GP10  WIFI_GPIO27
LOCATE COMP "gn[10]" SITE "D1";  # J1_29- GN10
LOCATE COMP "gp[11]" SITE "B2";  # J1_31+ GP11  WIFI_GPIO25
LOCATE COMP "gn[11]" SITE "C1";  # J1_31- GN11  WIFI_GPIO26
LOCATE COMP "gp[12]" SITE "A2";  # J1_33+ GP12  WIFI_GPIO32
LOCATE COMP "gn[12]" SITE "B1";  # J1_33- GN12  WIFI_GPIO33
LOCATE COMP "gp[13]" SITE "A3";  # J1_35+ GP13  WIFI_GPIO34
LOCATE COMP "gn[13]" SITE "B3";  # J1_35- GN13  WIFI_GPIO35
IOBUF PORT  "gp[7]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[7]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[8]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[8]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[9]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[9]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[10]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[10]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[11]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[11]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[12]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[12]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[13]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[13]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gp[14]" SITE "A4"; # J2_5+  GP14
LOCATE COMP "gn[14]" SITE "B4"; # J2_5-  GN14
LOCATE COMP "gp[15]" SITE "A5"; # J2_7+  GP15
LOCATE COMP "gn[15]" SITE "B5"; # J2_7-  GN15
LOCATE COMP "gp[16]" SITE "A6"; # J2_9+  GP16
LOCATE COMP "gn[16]" SITE "B6"; # J2_9-  GN16
LOCATE COMP "gp[17]" SITE "A7"; # J2_11+ GP17
LOCATE COMP "gn[17]" SITE "B7"; # J2_11- GN17
LOCATE COMP "gp[18]" SITE "A8"; # J2_13+ GP18
LOCATE COMP "gn[18]" SITE "B8"; # J2_13- GN18
LOCATE COMP "gp[19]" SITE "P11"; # J2_15+ GP19
LOCATE COMP "gn[19]" SITE "P12"; # J2_15- GN19
LOCATE COMP "gp[20]" SITE "N12"; # J2_17+ GP20
LOCATE COMP "gn[20]" SITE "P13"; # J2_17- GN20
IOBUF PORT  "gp[14]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[14]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[15]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[15]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[16]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[16]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[17]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[17]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[18]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[18]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[19]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[19]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[20]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[20]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gp[21]" SITE "N13"; # J2_23+ GP21
LOCATE COMP "gn[21]" SITE "P14"; # J2_23- GN21
LOCATE COMP "gp[22]" SITE "M12"; # J2_25+ GP22
LOCATE COMP "gn[22]" SITE "M13"; # J2_25- GN22
LOCATE COMP "gp[23]" SITE "L14"; # J2_27+ GP23
LOCATE COMP "gn[23]" SITE "L13"; # J2_27- GN23
LOCATE COMP "gp[24]" SITE "K14"; # J2_29+ GP24
LOCATE COMP "gn[24]" SITE "K13"; # J2_29- GN24
LOCATE COMP "gp[25]" SITE "J14"; # J2_31+ GP25
LOCATE COMP "gn[25]" SITE "J13"; # J2_31- GN25
LOCATE COMP "gp[26]" SITE "H14"; # J2_33+ GP26
LOCATE COMP "gn[26]" SITE "H13"; # J2_33- GN26
LOCATE COMP "gp[27]" SITE "G14"; # J2_35+ GP27
LOCATE COMP "gn[27]" SITE "G13"; # J2_35- GN27
IOBUF PORT  "gp[21]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[21]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[22]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[22]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[23]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[23]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[24]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[24]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[25]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[25]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[26]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[26]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gp[27]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "gn[27]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
